:root {
  font-family: "Newsreader", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Global Styles */
body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#DateTime{
  display: flex;
  padding: 2%;
  justify-content: space-between;
  width: 96%;
  height: fit-content;
  background-color: aliceblue;
  color: black;
}
.hamburger{
  display: none;
   font-size: 2rem;
}

#navContainerHam{
  padding: 2%;
  border: 3px solid white;
  display: none;
  position: fixed;
  right: 0;
  top: 2%;
  width: 80%;
  height: max-content;
  background-color: blue;
  object-fit: cover;
}
#navContainerHam ul{
  display: block;
  padding: 2%;
  object-fit: cover;
}
#navContainerHam ul li{
  margin: 5%;
  object-fit: cover;
}
#navContainerHam button{
  position: fixed;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  right: 0;
  object-fit: cover;
}
















#mianComponent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96%;
  margin: 0 2% 0 2%;
  overflow: hidden;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: wheat;
  padding: 2%;
  width: 96%;
}

header img {
  width: 10em; /* Adjusted for better responsiveness */
  height: auto; /* Maintain aspect ratio */
}


#Nav-Bar{
  display: block;
}
#CategoriesDiv{
  display: block;
}
#CategoriesDiv h3{
  text-align: center;
}

ul{
  
  background-color: aqua;
  display: flex;
  justify-content: center;
  color: black;
  gap: 10px;
}
ul li{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.newsCardsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;

}

.newsCard{
  border: 2px solid red;
  width:40%;
  height: 300px;
}

@media screen and (min-width:200px) and (max-width:768px) {
 
  .hamburger{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
 } 
 #Nav-Bar{
  display: none;
}
#CategoriesDiv{
  display: none;
}
#navContainerHam {
  display: none; /* Hide navigation container by default */
}
  
}
@media (min-width: 769px) {
  .hamburger {
    display: none; /* Hide hamburger on larger screens */
  }
  
  #navContainerHam {
    display: none !important; /* Ensure it's hidden if screen size increases */
  }
}
